@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Footer */
@keyframes wiggle {

  0%,
  100% {
    transform: rotate(-5deg);
  } 

  50% {
    transform: rotate(5deg);
  }
}

.wiggle:hover {
  animation: wiggle 0.3s ease-in-out;
} 